{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <h1>Produits</h1>
        {% for product in products %}
            <div class="col-md-3 p-2">
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text">{{ product.description}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

</div>
{% endblock %}
